


::selection {
    background: transparent;
    text-shadow: none;
}


#logo{
  padding-left: 180px!important;
}



.service.col-md-4:nth-of-type(3n+1) {
  clear: left;
}

.mb-11{
  padding-bottom: 80px;
}

.single-recent-blog:hover .f-img {
  cursor: pointer;
  transform: scale(1.05);
}

.tableauPlaceholder{
  position: absolute;
  top: 50%;
  left: 15%;
  
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 10;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p { line-height: 1.75;
    margin-top: 0;
    margin-bottom: 1rem; }

.textlanding { color: black; position: absolute; top: 50%; right: 50%; transform: translate(50%, -50%); max-width: 600px; padding: 2em 3em; }
ul.list-inline { margin-top: 0px; margin-bottom: 30px; }
ul.social-buttons { margin-bottom: 0px; }
ul.social-buttons li a { font-size: 20px; line-height: 40px; display: block; width: 40px; height: 40px; transition: all 0.3s ease 0s; color: white; border-radius: 100%; outline: none; background-color: #4275A2; }
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover { background-color: #E87A00; }


img {
    vertical-align: middle;
    border-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    
}

.add-shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 8px 0px}

.masthead {
    text-align: center;
    color: black;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  background-color: #4275A2!important;
  border-color: #4275A2!important;
  color: #4275A2;
  border-width: medium;
}


.btn-primary:hover {
  background-color: #E87A00!important;
  border-color: #E87A00 !important;
}

.footer-area {
  background-color: #04091e;
}

.section-gap {
  padding: 80px 0;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}



.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
  margin: 3px;
}


.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}




.text-uppercase {
  text-transform: uppercase!important;
}



/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 35px 10px;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
  }

  
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }

  /* Links on mouse-over */
  #navbar-right a:hover {
    background-color: #4275A2;
    color: white;
  }
  
  /* Style the active/current link */
  #navbar-right a.active {
    background-color: #E87A00;
    color: white;
  }
  
  /* Display some links to the right */
  #navbar-right {
    position: absolute;
    right: 250px;
    text-align: right;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-inline-item {
    display: inline-block;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-database{
  padding-bottom: 20px;
}

.section-heading{
  padding-bottom: 30px;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-top-style: solid ;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.arrowlanding {
  color: black;
  position: absolute;
  top: 98%;
  right: 50%;
  transform: translate(50%,-50%);
  max-width: 600px;
  padding: 2em 3em;
}
.align-items-center {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.single-services .fa {
  font-size: 35px;
  color: #222;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.roll-icon-box .icon {
  border: 1px solid blue;
}

.roll-icon-box .icon {
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 75px;
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.roll-icon-box .icon i {
  font-size: 26px;
}

.justify-content-between {
  justify-content: space-between !important;
}

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #fff;
  border-left: 2px solid #4275A2;
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "\f080";
}

.container.fullwidth {
  width: 100%;
}

blockquote {
  margin: 0 0 1rem;
}

.fz-16 {
  font-size: 16px;
}

.col-md-4{
  float: left;
}

.roll-icon-box {
  text-align: center;
}


.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.diff-color{
  color:#4275A2!important;
}

a {
  color: #69b3a2;
  background-color: transparent;
}


.bg-light {
  background-color: #f8f9fa!important;
}

.bg-light2 {
  background-color: white!important;
}

.generic-blockquote{
  background-color: #f8f9fa!important;
}

.services-area {
  background-color: white;
}

.single-services {
  text-align: center;
  margin-top: 60px;
}


section {
  padding: 100px 0;
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center!important;
}



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.meta {
  padding-bottom: 30px;
}

.thumb {
  padding-bottom: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
 }

img::selection {
  background: transparent;
}

#about {
  min-height: 0px !important;
}

#home {
  min-height: 1000px !important;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }}

  body {

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

section { min-height:700px; }


@media (min-width: 768px){
.text-md-left {
    text-align: left!important;
}}

@media (min-width: 768px){
.container {
    max-width: 720px;
}}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row2{
  margin: 0;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row2:after, .row2:before {
  display: table;
  content: " ";
}

.about, .approach, .cta, .one-column, .portfolio, .services, .two-columns {
  padding: 25px 0;
}

@media (min-width: 768px){
.col-sm-offset-1 {
    margin-left: 8.33333333%;
}}

@media (min-width: 768px){
.col-sm-10 {
    width: 83.33333333%;
}}

@media (min-width: 768px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}}

.about .subtitle, .approach .subtitle, .cta .subtitle, .one-column .subtitle, .portfolio .subtitle, .services .subtitle, .two-columns .subtitle {
  width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.services .icon {
  padding: 0;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}

.col-xs-2 {
  width: 16.66666667%;
}

.services .service {
  margin-bottom: 15px;
  display: flex;
}

.fa {
  margin-bottom: 30px;
}

.fa:hover{
  color:#E87A00 !important;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

.generic {
    color: #4275A2;
    border: 1px solid #4275A2;
    background: #4275A2;
}



@media (min-width: 768px)
{.col-sm-6 {
    width: 50%;
}}

.services img {
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 70px;
  margin: auto;
  display: block;
}

.col-xs-12 {
  width: 100%;
}

.services .content {
  margin-bottom: 25px;
}








  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: float;
    }
  }